/* Your CSS here. */
body{
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;    
}

.contrainer{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    padding-top: 25px;
    padding: 20px;
    padding-inline: 25px;
    height: auto;
    width: auto;
    min-width: 15vw;
    background-image: linear-gradient(to right, rgb(49, 52, 58), rgb(97, 81, 143), rgb(37, 88, 191));
    /* Add these cool stuff can make the card design looks better */
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.photo{
    display: block;
    margin-inline: auto;
    height: 150px;
    width: 150px;
}

.content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link{
    color: rgb(177, 185, 255);
    font-size: 16px;
    margin-inline: 5px;
}


.header{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 9px;
}

.info{
    font-size: 18px;
    padding-bottom: 12px;
}

.intro{
    margin-inline: 10px;
}

.divider{
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}